.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav > button{
    margin: 10px;
}

.inputField > input {
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 25px;
}