.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    background-color: rgb(178, 218, 241);
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav > button{
    margin: 10px;
}

.inputField {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.inputField > input {
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 25px;
}

.aside {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.ul > button {
    margin: 10px 0 0 10px;
}